config/database.yml
config/initial_settings.yml
db/schema.rb
log/*.log*
public/custom/*.html
public/custom/*
public/javascripts/prototype.all.js
public/javascripts/jquery.all.js
public/stylesheets/skip.style.css
lib/tasks/rspec.rake
vendor/rails
coverage
tmp/*
pkg/*
*flymake.rb
*#*#
*.#*

