// =============================================
//  Util

.invisible
  :display none

// =============================================
//  Header
#header
  :border-bottom 1px solid silver
  p
    :color green
    :position absolute
    :top 0
    :right 0

// =============================================
//  Message

#message_list
  :margin-bottom 100px
  :width 60%
  li
    :border-bottom 1px dashed #e0e0e0
    span.created_at
      :color orange
      :font-size 70%
      :float right

#message_input
  :position fixed
  :bottom 0
  :background-color orange
  :height 100px
  :width 100%
  :padding-left 50px

// ==============================================
//  Scaffold

body
  :background-color #fff
  :color #333
  :margin 0
  :padding 0
  :font-family verdana, arial, helvetica, sans-serif
  :font-size 13px
  :line-height 18px


p, ol, ul, td
  :font-family verdana, arial, helvetica, sans-serif
  :font-size 13px
  :line-height 18px


pre
  :background-color #eee
  :padding 10px
  :font-size 11px


a
  :color #000

  &:visited
    :color #666

  &:hover
    :color #fff
    :background-color #000


.fieldWithErrors
  :padding 2px
  :background-color red
  :display table


#errorExplanation
  :width 400px
  :border 2px solid red
  :padding 7px
  :padding-bottom 12px
  :margin-bottom 20px
  :background-color #f0f0f0

  h2
    :text-align left
    :font-weight bold
    :padding 5px 5px 5px 15px
    :font-size 12px
    :margin -7px
    :background-color #c00
    :color #fff

  p
    :color #333
    :margin-bottom 0
    :padding 5px

  ul li
    :font-size 12px
    :list-style square
