!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }
    %title
      SKIP-Talk
      = controller.action_name
    = stylesheet_link_tag 'scaffold'
  %body{ :onLoad => "document.getElementById('message_content').focus();" }
    %div{ :style => "border-bottom:1px solid silver" }
      %h1
        SKIP-Talk
      %p{ :style => "color: green; position: absolute; top: 0; right: 0;" }
        = flash[:notice]
    = yield
